body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u333 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1921px;
  height:1080px;
  display:flex;
  transition:none;
}
#u333 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u333_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1921px;
  height:1080px;
}
#u333_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u334 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:438px;
  width:998px;
  height:304px;
  display:flex;
  transition:none;
}
#u334 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u334_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:304px;
}
#u334_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
