body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  display:flex;
  transition:none;
}
#u261 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u261_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u263_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:186px;
  background:inherit;
  background-color:rgba(254, 231, 166, 1);
  border-radius:18px;
  filter:drop-shadow(none);
  transition:none;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:876px;
  width:195px;
  height:186px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u263 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u263_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:883px;
  width:133px;
  height:172px;
  display:flex;
  transition:none;
}
#u264 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:172px;
}
#u264_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u265 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u266_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:186px;
  background:inherit;
  background-color:rgba(254, 231, 166, 1);
  border-radius:18px;
  filter:drop-shadow(none);
  transition:none;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:1568px;
  top:876px;
  width:195px;
  height:186px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u266 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u266_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u267 {
  border-width:0px;
  position:absolute;
  left:1598px;
  top:881px;
  width:132px;
  height:177px;
  display:flex;
  transition:none;
}
#u267 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:177px;
}
#u267_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u268 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:333px;
  width:700px;
  height:264px;
  display:flex;
  transition:none;
}
#u268 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:264px;
}
#u268_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u269 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u270_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:186px;
  background:inherit;
  background-color:rgba(254, 231, 166, 1);
  border-radius:18px;
  filter:drop-shadow(none);
  transition:none;
}
#u270 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:876px;
  width:195px;
  height:186px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u270 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u270_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u271 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:890px;
  width:185px;
  height:155px;
  display:flex;
  transition:none;
}
#u271 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:155px;
}
#u271_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u272 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u273_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:186px;
  background:inherit;
  background-color:rgba(254, 231, 166, 1);
  border-radius:18px;
  filter:drop-shadow(none);
  transition:none;
}
#u273 {
  border-width:0px;
  position:absolute;
  left:773px;
  top:876px;
  width:195px;
  height:186px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u273 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u273_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u274 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:889px;
  width:153px;
  height:161px;
  display:flex;
  transition:none;
}
#u274 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:161px;
}
#u274_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u275 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u276_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:186px;
  background:inherit;
  background-color:rgba(194, 229, 149, 1);
  box-sizing:border-box;
  border-width:10px;
  border-style:solid;
  border-color:rgba(125, 69, 241, 1);
  border-radius:18px;
  filter:drop-shadow(none);
  transition:none;
}
#u276 {
  border-width:0px;
  position:absolute;
  left:1038px;
  top:876px;
  width:195px;
  height:186px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u276 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u276_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u277 {
  border-width:0px;
  position:absolute;
  left:1067px;
  top:882px;
  width:134px;
  height:168px;
  display:flex;
  transition:none;
}
#u277 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:168px;
}
#u277_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u278 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u279_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:186px;
  background:inherit;
  background-color:rgba(194, 229, 149, 1);
  border-radius:18px;
  filter:drop-shadow(none);
  transition:none;
}
#u279 {
  border-width:0px;
  position:absolute;
  left:1303px;
  top:875px;
  width:195px;
  height:186px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u279 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u279_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u280 {
  border-width:0px;
  position:absolute;
  left:1316px;
  top:897px;
  width:168px;
  height:141px;
  display:flex;
  transition:none;
}
#u280 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:141px;
}
#u280_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u281 {
  border-width:0px;
  position:absolute;
  left:1303px;
  top:875px;
  width:227px;
  height:186px;
  display:flex;
  transition:none;
}
#u281 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:186px;
}
#u281_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u282 {
  border-width:0px;
  position:absolute;
  left:1038px;
  top:876px;
  width:227px;
  height:186px;
  display:flex;
  transition:none;
}
#u282 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:186px;
}
#u282_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u283 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  display:flex;
  transition:none;
}
#u283 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u283_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u284 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u285_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:186px;
  background:inherit;
  background-color:rgba(194, 229, 149, 1);
  border-radius:18px;
  filter:drop-shadow(none);
  transition:none;
}
#u285 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:876px;
  width:195px;
  height:186px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u285 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u285_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u286 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:883px;
  width:133px;
  height:172px;
  display:flex;
  transition:none;
}
#u286 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u286_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:172px;
}
#u286_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u287 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u288_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:186px;
  background:inherit;
  background-color:rgba(194, 229, 149, 1);
  box-sizing:border-box;
  border-width:10px;
  border-style:solid;
  border-color:rgba(125, 69, 241, 1);
  border-radius:18px;
  filter:drop-shadow(none);
  transition:none;
}
#u288 {
  border-width:0px;
  position:absolute;
  left:1568px;
  top:876px;
  width:195px;
  height:186px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u288 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u288_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u289 {
  border-width:0px;
  position:absolute;
  left:1598px;
  top:881px;
  width:132px;
  height:177px;
  display:flex;
  transition:none;
}
#u289 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:177px;
}
#u289_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u290 {
  border-width:0px;
  position:absolute;
  left:1568px;
  top:876px;
  width:227px;
  height:186px;
  display:flex;
  transition:none;
}
#u290 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:186px;
}
#u290_img.selected {
}
#u290.selected {
}
#u290_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u291 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:333px;
  width:700px;
  height:285px;
  display:flex;
  transition:none;
}
#u291 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:285px;
}
#u291_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u292 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u293_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:186px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border-radius:18px;
  filter:drop-shadow(none);
  transition:none;
}
#u293 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:876px;
  width:195px;
  height:186px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u293 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u293_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u294 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:890px;
  width:185px;
  height:155px;
  display:flex;
  transition:none;
}
#u294 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:155px;
}
#u294_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u295 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u296_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:186px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border-radius:18px;
  filter:drop-shadow(none);
  transition:none;
}
#u296 {
  border-width:0px;
  position:absolute;
  left:773px;
  top:876px;
  width:195px;
  height:186px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u296 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u296_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u297 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:889px;
  width:153px;
  height:161px;
  display:flex;
  transition:none;
}
#u297 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u297_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:161px;
}
#u297_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u298 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u299_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:186px;
  background:inherit;
  background-color:rgba(194, 229, 149, 1);
  border-radius:18px;
  filter:drop-shadow(none);
  transition:none;
}
#u299 {
  border-width:0px;
  position:absolute;
  left:1038px;
  top:876px;
  width:195px;
  height:186px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u299 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u299_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u300 {
  border-width:0px;
  position:absolute;
  left:1067px;
  top:882px;
  width:134px;
  height:168px;
  display:flex;
  transition:none;
}
#u300 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u300_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:168px;
}
#u300_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u301 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u302_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:186px;
  background:inherit;
  background-color:rgba(194, 229, 149, 1);
  border-radius:18px;
  filter:drop-shadow(none);
  transition:none;
}
#u302 {
  border-width:0px;
  position:absolute;
  left:1303px;
  top:875px;
  width:195px;
  height:186px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u302 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u302_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u303 {
  border-width:0px;
  position:absolute;
  left:1316px;
  top:897px;
  width:168px;
  height:141px;
  display:flex;
  transition:none;
}
#u303 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u303_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:141px;
}
#u303_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u304 {
  border-width:0px;
  position:absolute;
  left:1303px;
  top:875px;
  width:227px;
  height:186px;
  display:flex;
  transition:none;
}
#u304 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u304_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:186px;
}
#u304_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u305 {
  border-width:0px;
  position:absolute;
  left:1038px;
  top:876px;
  width:227px;
  height:186px;
  display:flex;
  transition:none;
}
#u305 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u305_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:186px;
}
#u305_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u306 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:876px;
  width:227px;
  height:186px;
  display:flex;
  transition:none;
}
#u306 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u306_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:186px;
}
#u306_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u307 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:876px;
  width:223px;
  height:186px;
  display:flex;
  transition:none;
}
#u307 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u307_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:186px;
}
#u307_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u308 {
  border-width:0px;
  position:absolute;
  left:773px;
  top:876px;
  width:223px;
  height:186px;
  display:flex;
  transition:none;
}
#u308 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u308_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:186px;
}
#u308_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
