body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  display:flex;
  transition:none;
}
#u79 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u79_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u81_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:186px;
  background:inherit;
  background-color:rgba(254, 231, 166, 1);
  border-radius:18px;
  filter:drop-shadow(none);
  transition:none;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:876px;
  width:195px;
  height:186px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u81 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u81_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:883px;
  width:133px;
  height:172px;
  display:flex;
  transition:none;
}
#u82 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:172px;
}
#u82_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u84_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:186px;
  background:inherit;
  background-color:rgba(254, 231, 166, 1);
  border-radius:18px;
  filter:drop-shadow(none);
  transition:none;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:1568px;
  top:876px;
  width:195px;
  height:186px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u84 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u84_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:1598px;
  top:881px;
  width:132px;
  height:177px;
  display:flex;
  transition:none;
}
#u85 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:177px;
}
#u85_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:333px;
  width:700px;
  height:264px;
  display:flex;
  transition:none;
}
#u86 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:264px;
}
#u86_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u88_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:186px;
  background:inherit;
  background-color:rgba(254, 231, 166, 1);
  border-radius:18px;
  filter:drop-shadow(none);
  transition:none;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:876px;
  width:195px;
  height:186px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u88 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u88_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:890px;
  width:185px;
  height:155px;
  display:flex;
  transition:none;
}
#u89 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:155px;
}
#u89_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u91_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:186px;
  background:inherit;
  background-color:rgba(254, 231, 166, 1);
  border-radius:18px;
  filter:drop-shadow(none);
  transition:none;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:773px;
  top:876px;
  width:195px;
  height:186px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u91 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u91_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:889px;
  width:153px;
  height:161px;
  display:flex;
  transition:none;
}
#u92 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:161px;
}
#u92_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u94_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:186px;
  background:inherit;
  background-color:rgba(194, 229, 149, 1);
  box-sizing:border-box;
  border-width:10px;
  border-style:solid;
  border-color:rgba(125, 69, 241, 1);
  border-radius:18px;
  filter:drop-shadow(none);
  transition:none;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:1038px;
  top:876px;
  width:195px;
  height:186px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u94 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u94_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:1067px;
  top:882px;
  width:134px;
  height:168px;
  display:flex;
  transition:none;
}
#u95 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u95_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:168px;
}
#u95_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u97_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:186px;
  background:inherit;
  background-color:rgba(194, 229, 149, 1);
  border-radius:18px;
  filter:drop-shadow(none);
  transition:none;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:1303px;
  top:875px;
  width:195px;
  height:186px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u97 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:1316px;
  top:897px;
  width:168px;
  height:141px;
  display:flex;
  transition:none;
}
#u98 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:141px;
}
#u98_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:1303px;
  top:875px;
  width:227px;
  height:186px;
  display:flex;
  transition:none;
}
#u99 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u99_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:186px;
}
#u99_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:1038px;
  top:876px;
  width:227px;
  height:186px;
  display:flex;
  transition:none;
}
#u100 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:186px;
}
#u100_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  display:flex;
  transition:none;
}
#u101 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u101_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:186px;
  background:inherit;
  background-color:rgba(254, 231, 166, 1);
  border-radius:18px;
  filter:drop-shadow(none);
  transition:none;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:876px;
  width:195px;
  height:186px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u103 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u103_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:883px;
  width:133px;
  height:172px;
  display:flex;
  transition:none;
}
#u104 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:172px;
}
#u104_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:186px;
  background:inherit;
  background-color:rgba(254, 231, 166, 1);
  border-radius:18px;
  filter:drop-shadow(none);
  transition:none;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:1568px;
  top:876px;
  width:195px;
  height:186px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u106 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u106_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:1598px;
  top:881px;
  width:132px;
  height:177px;
  display:flex;
  transition:none;
}
#u107 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:177px;
}
#u107_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:333px;
  width:700px;
  height:276px;
  display:flex;
  transition:none;
}
#u108 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:276px;
}
#u108_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u110_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:186px;
  background:inherit;
  background-color:rgba(254, 231, 166, 1);
  border-radius:18px;
  filter:drop-shadow(none);
  transition:none;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:876px;
  width:195px;
  height:186px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u110 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u110_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:890px;
  width:185px;
  height:155px;
  display:flex;
  transition:none;
}
#u111 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:155px;
}
#u111_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:186px;
  background:inherit;
  background-color:rgba(254, 231, 166, 1);
  border-radius:18px;
  filter:drop-shadow(none);
  transition:none;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:773px;
  top:876px;
  width:195px;
  height:186px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u113 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u113_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:889px;
  width:153px;
  height:161px;
  display:flex;
  transition:none;
}
#u114 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:161px;
}
#u114_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:186px;
  background:inherit;
  background-color:rgba(194, 229, 149, 1);
  box-sizing:border-box;
  border-width:10px;
  border-style:solid;
  border-color:rgba(125, 69, 241, 1);
  border-radius:18px;
  filter:drop-shadow(none);
  transition:none;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:1038px;
  top:876px;
  width:195px;
  height:186px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u116 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u116_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:1067px;
  top:882px;
  width:134px;
  height:168px;
  display:flex;
  transition:none;
}
#u117 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:168px;
}
#u117_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u119_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:186px;
  background:inherit;
  background-color:rgba(194, 229, 149, 1);
  border-radius:18px;
  filter:drop-shadow(none);
  transition:none;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:1303px;
  top:875px;
  width:195px;
  height:186px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u119 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:1316px;
  top:897px;
  width:168px;
  height:141px;
  display:flex;
  transition:none;
}
#u120 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:141px;
}
#u120_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:1303px;
  top:875px;
  width:227px;
  height:186px;
  display:flex;
  transition:none;
}
#u121 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:186px;
}
#u121_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:1038px;
  top:876px;
  width:227px;
  height:186px;
  display:flex;
  transition:none;
}
#u122 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:186px;
}
#u122_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
